@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3); /* Size of the pulse */
  }
}
.animate-pulse-custom {
  animation: pulse 2s infinite; /* Duration */
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.wrong-message {
  position: fixed;
  bottom: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: red;
  font-weight: bold;
  z-index: 9999;
  animation: fadeInOut 1s;
}

